@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.h1,
h1 {
    font-weight: 700;
}

.h2,
h2 {
    font-size: 35px;
    font-weight: 300;
}

.h2 {
    font-weight: 300;
}

.h3,
h3 {
    font-size: 30px;
}

/*Navbar*/

.header-bg {
    width: 100%;
    height: 60px;
    background-color: black;
}

.header-bg:after {
    content: '';
    display: table;
    clear: both;
}

.navBG {
    margin-bottom: 0px;
    opacity: 0.5;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Merriweather', serif;
}

.btn {
    margin-top: 4px;
    font-size: 19px;
}

.btn-dark {
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-color: transparent;
    font-family: 'Merrieweather', serif;
}

.btn-dark:hover {
    color: rgba(255, 255, 255, .85);

}

.dropdown-menu-color {
    background-color: #343a40!important;
    margin: 0px;
}

.ToggleColor {
    background-color: #343a40;
}

.theToggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    display: contents;
}

.dropdownTextColor {
    color: rgba(255, 255, 255, .5);
}

.dropdownTextColor:hover {
    color: rgba(255, 255, 255, .85);
    background-color: #23272b;
    border-color: #1d2124;
    transition: .2s ease-in;
}

.btnHover {
    border-radius: 5px;
    transition: .2s;
}

.nav-item:hover {
    border-radius: 10px;
}

.theNavbrand {
    font-family: 'Merriweather', serif;
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.btn-design {
    margin: 0;
    padding: 1px 10px 0px 0;
}

/*banner*/

.banner {
    padding: 0;
}

.bannerPic {
    background-image: linear-gradient(rgba(1, 1, 1, .2), rgba(1, 1, 1, 0), rgba(1, 1, 1, .2)), url('assets/images/banner/frankf.jpg');
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: -99;

    /*For Safari*/
    top: 0;
    left: 0;
}

@keyframes animate-galleryBG {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: none
    }
}

.bannerHeading {
    font-family: 'Merriweather', serif;
    position: absolute;
    top: 47%;
    z-index: 999;
    color: white;
    font-size: 60px;
    text-decoration: underline;
}

.arrowDown {
    position: absolute;
    top: 80%;
    left: 46%;
    color: white;
    z-index: 999;
}

.fa-arrow-down {
    position: absolute;
    font-size: 70px;
    margin: 0;
    animation-name: arrowanim;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@media (min-width: 576px) {
    .bannerHeading {
        left: 18%;
    }
}

@media (min-width: 768px) {
    .bannerHeading {
        left: 26%;
    }
}

@media (min-width: 992px) {
    .bannerHeading {
        left: 32%;
    }
}

@media (min-width: 1200px) {
    .bannerHeading {
        left: 36%;
    }
}

@keyframes arrowanim {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(50%);
    }
}


/*Gallery*/

.galleryBG {
    position: relative;
    background-color: #f5f5f5;
    padding-top: 130px;
    padding-bottom: 30px;
}

.gallery-heading {
    font-family: 'Merriweather', serif;
    color: black;
    font-size: 40px;
    text-decoration: underline;
}

.gallery-text {
    font-family: 'Merriweather', serif;
    color: black;
    font-size: 28px;
    font-weight: 300;
}

.card {
    margin: 30px 0;
}

.card-size {
    width: 100%;
    height: 320px;
}

.gallery-place-names {
    font-family: 'Merriweather', serif;
    text-align: center;
}

/*Carousel*/

.blueSectionBG {
    width: 100%;
    height: auto;
    padding: 40px 0;
    background-color: #00499D;
}

.carouselSize {
    width: 100%;
    height: 600px;
}

.carousel-caption {
    left: 7%;
}

@media (min-width: 576px) {
    .carousel-caption {
        left: 15%;
    }
}

.foodCarsousel-img1 {
    height: 100%;
    background-image: url('assets/images/Food/asparagus-soup.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foodCarsousel-img2 {
    height: 100%;
    background-image: url('assets/images/Food/kaesespaetzle.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foodCarsousel-img3 {
    height: 100%;
    background-image: url('assets/images/Food/kartoffelpuffer.jpeg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.foodCarsousel-img4 {
    height: 100%;
    background-image: url('assets/images/Food/frankfurter-gruene-sosse.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foodCarsousel-img5 {
    height: 100%;
    background-image: url('assets/images/Food/Schupfnudel.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foodCarsousel-img6 {
    height: 100%;
    background-image: url('assets/images/Food/obatzter.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cultureCarsousel-img1 {
    height: 100%;
    background-image: url('assets/images/culture/goethe-house.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cultureCarsousel-img2 {
    height: 100%;
    background-image: url('assets/images/culture/Mozart.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cultureCarsousel-img3 {
    height: 100%;
    background-image: url('assets/images/culture/Beethoven.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cultureCarsousel-img4 {
    height: 100%;
    background-image: url('assets/images/culture/Richard.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cultureCarsousel-img5 {
    height: 100%;
    background-image: url('assets/images/culture/frankfurt-architecture.jpeg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.cultureCarsousel-img6 {
    height: 100%;
    background-image: url('assets/images/culture/hamburg-altstadt.JPG');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.cultureCarsousel-img7 {
    height: 100%;
    background-image: url('assets/images/culture/terrassenufer-dresden.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 1200px) {
    .foodCarsousel-img1 {
        background-size: 100% 100%;
    }

    .foodCarsousel-img2 {
        background-size: 100% 100%;
    }

    .foodCarsousel-img3 {
        background-size: 100% 100%;
    }

    .foodCarsousel-img4 {
        background-size: 100% 100%;
    }

    .foodCarsousel-img5 {
        background-size: 100% 100%;
    }

    .foodCarsousel-img6 {
        background-size: 100% 100%;
    }

    .food-image-sizes {
        height: 700px;
    }

    .foodCarouselSize {
        height: 700px;
    }

    .cultureCarsousel-img1 {
        background-size: 60%;
    }

    .cultureCarsousel-img2 {
        background-size: 60%;
    }

    .cultureCarsousel-img3 {
        background-size: 60%;
    }

    .cultureCarsousel-img4 {
        background-size: 60%;
    }

    .cultureCarsousel-img5 {
        background-size: 100% 100%;
    }

    .cultureCarsousel-img6 {
        background-size: 100% 100%;
    }

    .cultureCarsousel-img7 {
        background-size: 100% 100%;
    }

    .cultureCarouselSize {
        height: 700px;
    }

    .culture-image-sizes {
        height: 700px;
    }
}

.travel-highlights-heading {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: white;
}

.food-bg {
    width: 100%;
    height: 300px;
    background: white;
    overflow: visible;
    display: inline-block;
}

.food-image-sizes {
    height: 350px;
    background-size: cover;
}

.foodCarouselSize {
    width: 100%;
    height: 375px;
}

@media (min-width: 1200px) {
    .foodCarouselSize {
        height: 500px;
    }
}

.food-carousel-BGbox {
    width: 100%;
    height: auto;
    position: relative;
    background-color: white;
    padding: 0;
    margin-bottom: -16px;
}

.foodtext {
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 20px;
}

.cultureCarouselSize {
    width: 100%;
    height: 375px;
}

@media (min-width: 1200px) {
    .cultureCarouselSize {
        height: 500px;
    }
}

.culture-image-sizes {
    height: 350px;
    background-size: cover;
}

.culture-carousel-BGbox {
    width: 100%;
    position: relative;
    height: auto;
    background-color: white;
    padding: 0;
    display: inline-block;
    overflow-y: scroll;
    margin: 40px 0 0 0;
}

@media (min-width: 768px) {
    .culture-carousel-BGbox {
        margin: 0;
    }
}

.culturetext {
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 20px;
}

/*Texts*/

#more {
    display: none;
}

.text-p {
    text-align: center;
    white-space: pre-line;
    color: black;
    font-family: 'Merriweather', serif;
    font-size: 24px;
    font-weight: 300;
}

.readbtnSize {
    width: 100%;
    height: 50px;
}

.german-flag-img-container {
    height: 100%;
    width: 100%
}

.text-img1 {
    width: 100%;
    height: 597px;
    background-image: url('assets/images/germany-map-flag.png');
    background-size: 100% 100%;
    background-position: center;
}

.text-img2 {
    width: 100%;
    height: 700px;
    background-image: url('assets/images/places/img1.jpeg');
    background-size: cover;
    background-position: center;
}

.text-heading {
    text-align: center;
    color: black;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 35px;
}

.homepage-text-bg1 {
    position: relative;
    width: 100%;
    height: auto;
    padding: 60px 0;
    background-color: white;
    margin-top: 700px;
}

.homepage-text-bg2 {
    position: relative;
    width: 100%;
    height: auto;
    padding: 60px 0;
    background-color: white;
}

/*Landscape Picture*/

.landscape-pic {
    height: 775px;
    background-repeat-x: no-repeat;
    background-position: center;
    background-image: linear-gradient(rgba(1, 1, 1, .1), rgba(1, 1, 1, 0), rgba(1, 1, 1, .1)), url(assets/images/places/img2.jpeg);
}

.landscape-pic-container {
    width: 100%;
    height: 775px;
    position: relative;
    padding: 0;
}

@media (min-width: 1200px) {
    .landscape-pic-container {
        background-color: #00499D;
    }
}

.landscape-pic-text {
    position: absolute;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    color: darkblue;
    background-color: rgba(255, 255, 255, .5);
    top: 87.4%;
    border: solid;
    left: 1%;
}

@media (min-width: 992px) {
    .landscape-pic-text {
        left: 26%;
    }
}

@media (min-width: 1200px) {
    .landscape-pic-text {
        left: 33%;
    }
}

/*Audio*/

.national-anthem-row {
    padding-bottom: 40px;
    background-color: white;
    margin-top: -2px;
}

.audio1-heading {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 35px;
    margin-top: 27px;
    color: black;
    display: block;
}

.audio-file1 {
    object-fit: fill;
    position: relative;
    width: 100%;
    height: 70px;
}

.audio-text {
    text-align: center;
    color: black;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: 300;
}

@media (min-width: 1200px) {
    .audio-text {
        font-size: 20px;
    }
}

/*Videos*/

.vid-bg {
    width: 100%;
    height: auto;
    padding: 70px 0;
    margin-top: -3px;
    background-repeat: no-repeat;
    background-color: #00499D;
}

.vid-main-heading {
    font-family: 'Merriweather', serif;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
    color: white;
    font-weight: 300;
    font-size: 35px;
}

.vid-space {
    padding: 0px;
    margin-left: 0;
    margin-right: 0px;
}

.video-heading {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 30px;
}

.germany-video {
    object-fit: fill;
    width: 100%;
    height: 155px;
}

@media (min-width: 448px) {
    .germany-video {
        height: 243px;
    }

}

@media (min-width: 768px) {
    .germany-video {
        height: 360px;
    }

}

@media (min-width: 992px) {
    .germany-video {
        height: 460px;
    }
}

@media (min-width: 1200px) {
    .germany-video {
        height: 900px;
    }
}

/*Information*/

.info-bg {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0px;
    padding: 50px 0;
}

.infoMainHeading {
    font-family: 'Merriweather', serif;
}

.eatBox {
    width: 100%;
    height: auto;
    margin: 50px 0;
    background-color: white;
}

.fa-utensils {
    color: turquoise;
    text-align: center;
    font-size: 100px;
    margin-top: 20px;
}

.info-headings {
    margin: 20px 0;
    font-weight: 300;
    font-family: 'Merriweather', serif;

}

.shopBox {
    width: 100%;
    height: auto;
    margin: 50px 0;
    background-color: white;
}

.fa-shopping-bag {
    color: yellow;
    text-align: center;
    font-size: 100px;
    margin-top: 20px;
}

.tourBox {
    width: 100%;
    height: auto;
    margin: 50px 0;
    background-color: white;
}

.fa-bus {
    color: lightgreen;
    text-align: center;
    font-size: 100px;
    margin-top: 20px;
}

.infoText {
    font-family: 'Merriweather', serif;
    font-size: 22px;
    margin: 0 auto 30px;
    font-weight: 300;
    max-width: 600px;
}

/*Footer*/

.footer-bg {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 177px;
    background-image: linear-gradient(black, #262626);
}

@media (min-width: 768px) {
    .footer-bg {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 178px;
        background-image: linear-gradient(black, #262626);
    }
}

.fa-twitter {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
}

.fa-twitter:hover {
    color: #5EB9FE;
    background-color: white;
    transition: 0.2s ease-in-out;
}

.fa-instagram {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
}

.fa-instagram:hover {
    color: #5EB9FE;
    background-color: white;
    transition: 0.2s ease-in-out;
}

.fa-facebook {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
}

.fa-facebook:hover {
    color: #5EB9FE;
    background-color: white;
    transition: 0.2s ease-in-out;
}

.fa-youtube {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
}

.fa-youtube:hover {
    color: #5EB9FE;
    background-color: white;
    transition: 0.2s ease-in-out;
}

.footer-contacts {
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: flex-start;
    color: AliceBlue;
}

.footer-contacts:hover {
    color: #5EB9FE;
    transition: 0.2s ease-in-out;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    color: AliceBlue;
}

/*Hotels Page*/

.hotel-img-container {
    height: 450px;
    width: 100%;
}

.hotel-steinberger-img1 {
    height: 100%;
    background-image: url('assets/images/hotels/Steinberger-Frankfurt-Hotel.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.hotel-img2 {
    height: 100%;
    background-image: url('assets/images/hotels/Hotel-Ambassador.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.hotel-img3 {
    height: 100%;
    background-image: url('assets/images/hotels/Hotel_Alexander_Plaza_-_Berlin.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.hotel-img4 {
    height: 100%;
    background-image: url('assets/images/hotels/Fulda-Hotel.JPG');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.hotel-img5 {
    height: 100%;
    background-image: url('assets/images/hotels/nikko-hotel-duesseldorf.JPG');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.hotelsMainHeading {
    margin-top: 110px;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
    font-family: 'Merriweather', serif;
    text-decoration: underline;
}

.hotels-bg {
    margin-bottom: 30px;
}

.hotels-inner-bg {
    width: 100%;
    background-color: #fafafa;
    height: auto;
    padding-bottom: 10px;
}

.hotels-heading {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: black;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 35px;
}

.hotels-p {
    padding: 0px 15px;
}

.steinberger-list-heading1 {
    padding: 0;
    margin: 0;
}

.timeline-item {
    position: relative;
    color: black;
    border-left: 1px solid;
    padding: 4em 2em 0em 2em;
}


.timeline-item:before {
    content: attr(data-suites);
    position: absolute;
    left: 2.5em;
    top: 2em;
    display: block;
    margin: 0;
    padding: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    position: absolute;
    display: block;
    top: 2.4em;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: black;

}

/*Emergency Numbers Page*/

.office-phone-image-container {
    height: 550px;
    width: 100%;
    margin-top: 65px;
    background-color: #00499D;
}

.office-phone-image {
    height: 100%;
    background-image: linear-gradient(rgba(1, 1, 1, .2), rgba(1, 1, 1, 0), rgba(1, 1, 1, .2)), url('assets/images/banner/office-phone.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.emergencyMainHeading {
    position: absolute;
    text-align: center;
    color: #fff;
    top: 72%;
    font-family: 'Merriweather', serif;
    font-size: 40px;
}

@media (min-width: 576px) {
    .emergencyMainHeading {
        top: 47%;
        left: 10%;
    }
}

@media (min-width: 768px) {
    .emergencyMainHeading {
        left: 18%;
    }
}

@media (min-width: 992px) {
    .emergencyMainHeading {
        left: 22%;
    }
}

@media (min-width: 1200px) {
    .emergencyMainHeading {
        left: 35%;
    }
}

.national-emergencyBG {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 70px 0;
}

.national-emergency-heading {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    margin: 20px 0px 20px 20px;
    font-size: 35px;
}

.national-emergency-text {
    display: inline-block;
    margin-left: 20px;

}

.vehicle-image-container {
    height: 350px;
    width: 100%;
}

@media (min-width: 576px) {
    .vehicle-image-container {
        height: 400px;
    }
}

@media (min-width: 768px) {
    .vehicle-image-container {
        height: 550px;
    }
}

@media (min-width: 1200px) {
    .vehicle-image-container {
        height: 900px;
    }
}

.vehicle-phone-image {
    height: 100%;
    background-image: linear-gradient(rgba(1, 1, 1, .2), rgba(1, 1, 1, 0), rgba(1, 1, 1, .2)), url('assets/images/banner/german_police_car.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.notfall-image-container {
    height: 350px;
    width: 100%;
}

@media (min-width: 576px) {
    .notfall-image-container {
        height: 400px;
    }
}

@media (min-width: 768px) {
    .notfall-image-container {
        height: 550px;
    }
}

@media (min-width: 1200px) {
    .notfall-image-container {
        height: 900px;
    }
}

.notfall-phone-image {
    height: 100%;
    background-image: linear-gradient(rgba(1, 1, 1, .2), rgba(1, 1, 1, 0), rgba(1, 1, 1, .2)), url('assets/images/banner/Feuerwehr.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.emergency-wordsBG {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    padding: 70px 0;
}
